@import "tailwindcss";

@theme  {
  --color-neutral-900: #0D082D;
  --color-neutral-700: #4B4869;
  --color-neutral-500: #8784A5;
  --color-neutral-300: #D1D0D5;
  --color-neutral-0: #FFFFFF;
  --color-orange-700: #E1604F;
  --color-orange-500: #F57463;
  --color-gradient-light: linear-gradient(90deg, #F37362 0%, #FFF 100%);
}